{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="bg-img">
<div class="col-sm-3 col-sm-offset-3  container-fluid h-100 " >
<div class="card bg-light">
<div class="card-body">
    <h1 class="text-info row justify-content-center align-items-center h-100"  >Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword)}}
        {{ form_row(registrationForm.agreeTerms) }}
        

    <button class="btn btn-info btn-lg btn-block" type="submit"> Register </button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
    </div>
    </div>
    {% endblock %}